*{
  margin: 0;
  padding: 0;
}

body{
  background: linear-gradient(rgba(0,0,0,0.9) 0, rgba(0,0,0,0.6) 100px, rgba(0,0,0,0.25), transparent 300px);
  transition: all 0.3s ease-in-out;
}
.main{
  padding: 0px;
  margin: 0px;
  background-image: radial-gradient(circle at 75% 50%, #595758, #2d2d2d);
  width: 100vw;
  height: 100vh;
}

#submain1{
  margin: 0px;
  padding: 0px;
  height: 75vh;
}

#subsub1{
  margin: 0px;
  padding-left: 10vw;
}

#lableimg1{
  margin: 0;
  padding: 20vh 1vw 10vh 0vw;
  font-family: Arial,sans-serif;
  color: #dfe6e9;
  font-size: 8vh;
  font-weight: bolder;
  text-align: center;
  text-shadow: 2px 2px #2d3436;
  vertical-align: middle;
}

#subsub2{
  margin: 0px;
  padding-right: 20vw;
}

#img1{
  padding: 20vh 0 10vh 0;
  width: 90%;
  height: 90%;
}

@media screen and (max-width: 1263px) {
  #lableimg1{
    padding: 20vh 0 10vh 0;
    width: 100%;
    font-size: 6vh;
  }
  #img1{
    padding: 20vh 0 10vh 0;
    width: 90%;
    height: 100%;
  }
}

@media screen and (max-width: 963px) {
  #lableimg1{
    padding: 20vh 0 10vh 0;
    width: 100%;
    font-size: 5vh;
  }
  #img1{
    padding: 20vh 0 5vh 0;
    width: 90%;
    height: 100%;
  }
}

@media screen and (max-width: 720px) {
  #lableimg1{
    padding: 20vh 0 10vh 0;
    width: 100%;
    font-size: 5vh;
  }
  #subsub2{
    padding-left: 5vw;
    padding-right: 5vw;
  }
  #img1{
    padding: 20vh 0 5vh 0;
    width: 90%;
    height: 100%;
  }
}

#submain2{
  margin: 0px;
  padding: 20px 5vw 8px 5vw;
  background-color: rgba(0,0,0,0.05);
  width: 100%;
  color: white;
}

#info {
  text-align:
  padding: 0;
  margin: 0;
}

#price{
  text-align: right;
  padding: 0;
  margin: 1.5vh 0 0 0;
  font-size: 1.5em;
}

#cartbtn button {
  margin: 0vh 1vw;
  padding: 1vh 2vw;
  color: white;
  font-size: 1.5em;
}
#cartbtn button:hover{
  color: rgba(0,0,0,0.70);
}

#cartbtn button a:link {
  text-decoration: none;
  color: rgba(0,0,0,0.70);
}

#cartbtn button a:visited {
  color: white;
}

#cartbtn button a:hover{
  color: rgba(0,0,0,0.70);
}

#cartbtn button a:active {
  color: rgba(0,0,0,0.70);
}
